* {
  position: relative;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.App-header {
  font-family: 'Finger Paint', cursive;
  font-size: 3.6em;
  font-weight: 900;
  color: black; 
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 0 20px;
}

.logo {
  top: 12px;
  margin-right: 10px;
  height: 65px;
}

button {
  font-family: 'KoHo', sans-serif;
  text-transform: uppercase;
  background-color: turquoise;
  color: black;
  border: none;
  transition: all 0.2s;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 10px 20px;
  display: inline-block;
  font-size: 1.2em;
  margin: 15px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.button1 {
  background-color: turquoise; 
}

.button1:hover {
  background-color: darkcyan;
}

button:hover {
  background-color: darkcyan;
}

.Category, .Score, .Lives {
    font-family: 'KoHo', sans-serif;
    font-size: 1.6em;
    font-weight: 900;
    color: black;
    padding: 0 20px;
}

.Category {
  font-size: 1.8em; 
  margin-top: 70px;
}

img.Man {
  width: 150px;
  margin-top: 10px;
}

img.Great-job {
  vertical-align: bottom;
  height: 70px;
  margin-left: 10px;
}

/* hangman image tooltip */
.Tooltip {
    position: relative;
    display: inline-block;
}

.Tooltip .Tooltip-text {
    visibility: hidden;
    width: 165px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 110%;
    margin-top: -5px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
}

.Tooltip .Tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 40%;
    left: -5%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.Tooltip:hover .Tooltip-text {
    visibility: visible;
    opacity: 1;
}

.Keyboard {
  width: 95%;
  margin: 0 auto;
  max-width: 600px;
}

.Word {
  margin: 20px 0;
  padding: 0 5px;
}

.Word-letter, .Keyboard-letter, .Checked-letter-correct, .Checked-letter-wrong {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px 3px;
  display: inline-block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 10px;
  line-height: 23px;
  font-family: 'KoHo', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Keyboard-letter {
  background: #5DC8CD;
  color: black
}

.Word-letter {
  background: #5DC8CD;
  color: black  
}

.Keyboard-letter:hover {
  background-color: #d7cfd6;
}

.Word-letter, .Checked-letter-correct, .Checked-letter-wrong {
  pointer-events: none;  
}

.Checked-letter-correct {
  background-color: lightgreen;
  color: grey;
}

.Checked-letter-wrong {
  background-color: #ffc4c4;
  color: grey;
}

.word-hint{
  position: fixed;
  color: black;
  padding: 15px;
  background-color: beige;
  border-radius: 10px;
  font-family: 'KoHo', sans-serif;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: left;
  top: 33rem;
  left: 64rem;
  width: 31rem;
  height: 13rem;
  font-size: 1.5em;
  line-height: 1.75rem;
}

.word-hint-title{
  color: red;
}

@media (width: 575px) {
.App-header {
    margin-top: 30px;
  }
  
  .word-hint{
    top: 38rem;
    left: 1rem;
    width: 24rem;
    height: 12rem;
    font-size: 1.5em;
    line-height: 1.65rem;
    position: absolute;
    margin-bottom: 2rem;
  }
  
}

@media (min-width: 768px) {
  .word-hint{
    top: 49rem;
    left: 11rem;
    width: 25rem;
    height: 13rem;
    font-size: 1.55em;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .word-hint{
    top: 34rem;
    left: 39rem;
    width: 23rem;
    height: 12rem;
    font-size: 1.5em;
    line-height: 1.65rem;
  }
}

@media (min-width: 1366px) {
  .word-hint{
    top: 48rem;
    left: 52rem;
    width: 31rem;
    height: 14rem;
    font-size: 1.75em;
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .word-hint{
    top: 500px;
    left: 51rem;
    width: 27rem;
    height: 10.5rem;
    font-size: 1.55em;
    line-height: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .word-hint{
    top: 41rem;
    left: 59rem;
    width: 29rem;
    height: 14rem;
    font-size: 1.65em;
    line-height: 1.65rem;
  }
}


/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
